*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    color: white;
}
.brand-logo img{
    width: 100px;
    margin-left: 10px;
}
.navbar-links ul{
    display: flex;
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}
.navbar-links ul li :hover{
    color: green;
}
.navbar-links ul li a::after{
    content: '';
    width: 0;
    height: 5px;
    background-color: coral;
    margin: auto;
    display: block;
}
.navbar-links ul li a:hover::after{width: 100%; transition: width 0.3s linear;}
.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
                    /******main content******/
.main img{
    width: 100%;
    height: 500px;
    background-size: cover;
    opacity: 0.9;
}
.main{
    position: relative;
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%,-50%);
}
.banner-text h1{
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.banner-text p{
    font-size: 15px;
    color: yellowgreen;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Content*/

.content{
    background-color:gray;
    width: 100%;
    display: flex;
    height: auto;
    margin: 10px auto 0 auto;
    padding: 10px;
}
.text{

}
.content img{
    height: 200px;
    border-radius: 10px;
}
.content h1{
    margin: 0;
    color: black;
}
.content p{
    color: black;
    margin-right: 10px;
}
/*IMagea*/

.image{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px auto;
    text-align: center;
    font-size: 26px;
    font-style: italic;
    text-transform: uppercase;
}
.image img{
    width: 200px;
    height: 150px;
    margin: 5px;
    margin-top: 60px;
    border-radius: 10px;
}
header{
    text-align: center;
    position: absolute;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}
.image header::after{
    content: '';
    width:0;
    height: 2px;
    background-color: coral;
    margin: auto;
    display: block;
}
.image header::after{width: 60%; transition: width 0.1s linear;}

@media (max-width:700px){
    .toggle-button{
        display: flex;
    }
    .main img{
        width: 100%;
        height: 300px;
    }
    .brand-logo img{padding: 5px;}
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links li a{
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
    }
    .banner-text h1{
        color: white;
        text-align: center;
        font-size: 25px;
    }
    .banner-text p{
        font-size: 15px;
        color: yellowgreen;
        text-align: center;
    }
}

/* enquiry */
#header1{
    text-align: center;
    font-size: 26px;
    font-style: italic;
    text-transform: uppercase;
  }
  #header1::after{
    content: '';
    width:0;
    height: 2px;
    background-color: coral;
    margin: auto;
    display: block;
}
#header1::after{width: 10%; transition: width 0.1s linear;}
  body{
    background-color: antiquewhite;
  }
  .container1{
    width: 29%;
    min-height: 200px;
    margin: 10px auto;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 40px rgb(145, 126, 126);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input{
    width: 100%;
    height: 30px;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }
  form{
    padding: 20px;
  }
  textarea{
    border: 1px solid #ccc;
    width: 100%;
  }
  label{
    font-weight: bolder;
  }
  button{
    font-size: 15px;
    width: 90px;
    border: none;
    background-color: rgb(231, 28, 28);
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    float: right;
  }

  @media (max-width:900px){
    .container1{
      width: 80%;
    }
    input{
      width: 90%;
      margin: 8px 10px;
    }
    #header1::after{width: 20%; transition: width 0.1s linear;}
    }

/* map */

.map{
    width:100%;
    min-height: 100vh;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.map h1{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 26px;
  font-style: italic;
  font-weight: normal;
}
.map h1::after{
  content:'';
  width: 0;
  height: 2px;
  background-color: coral;
  margin: auto;
  display: block;
}
.map h1::after{
  width: 50%;
  transition: 0.5s linear;
}
iframe{
  width: 90%;
}

.footer{
    width: 100%;
    height:65px; 
    background-color: orange;
    color: white;
    padding: 15px;
}
.img{
    display: flex;
    justify-content:center;
    align-items: center;
}
.img a{
    margin-right: 10px;
    color: #fff;
}
.footer h5{
    text-align: center;
}